<header>
    <div id="page-title">
        <%= title %>
    </div>

    <nav id="main">
        <ul>

        <li><a href="/">Home</a></li>

        
        <%if (reqInfo.authenticated) { %>
            <li><a href="/year-book">Year Book</a></li>
            <li><a href='/logout'>Logout</a></li>        
                <% if(reqInfo.roles?.length) { %>
                        [<%= reqInfo.username %> -- <%= reqInfo.roles %>] 
                <% } else { %>
                        [<%= reqInfo.username %>]<% } %>
        <% } else { %>
            <li><a href='/login'>Login</a></li>
            <li><a href='/register'>Register</a></li>
        <%}%>
    </ul>
    </nav>
  </header>