<header>
    <h1><%= title %></h1>
    <nav id="main">
        <a href="/">Home</a> | 
        <a href="/about">About</a> 
        
        <%if (reqInfo.authenticated) { %>
        <a href="/profile"> | Year Book</a>
        <a href='/user/logout'>Logout</a> [<%= reqInfo.username %>]
  


        <% if (reqInfo.roles.includes("Admin")) { %>
          <a href='/user/admin-area'>Admin Area</a> | 
        <% } %>

        <% if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager")) { %>
          <a href='/user/manager-area'>Manager Area</a> | 
        <% } %>
        <% } else { %>
                    <a href='/user/login'> | Login</a> | 
                    <a href='/user/register'>Register</a> 
                    <%}%> 
          <!-- 'else' must be in separate section with curly brackets to work. -->
        </nav>


  </header>