<header>
    <h1><%= title %></h1>
    <nav id="main">
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/students">Students | <a href="/contact">Contact</a> | 
        
        <a href='/user/register'>Register</a> | 
    
        <!-- Show 'Logout' and user name if authenticated. -->
        <%if (reqInfo?.authenticated) { %>
            <a href='/user/logout'>Logout</a> [<%= reqInfo.username %>]
  
          <!-- 'else' must be in separate section with curly brackets to work. -->
          <% } else { %>
            <a href='/user/login'>Login</a>
          <% } %></nav>

  </header>