<header>
    <h1><%= title %></h1>
    <nav id="main">
        <a href="/">Home</a> | 
        <a href="/about">About</a> 
        
        <%if (reqInfo.authenticated) { %>
            <a href="/year-book"> | Year Book</a>
            <a href='/logout'>Logout</a>          
                <% if(reqInfo.roles?.length) { %>
                        [<%= reqInfo.username %> -- <%= reqInfo.roles %>] 
                <% } else { %>
                        [<%= reqInfo.username %>]<% } %>
        <% } else { %>
            <a href='/login'> | Login</a> | 
            <a href='/register'>Register</a> 
        <%}%>
    </nav>
  </header>