<%# Conditionally output form or submitted data %> <% if(status == 'received') {
%>
<section id="submission">
  <div><%= formData.name && `Thank you, ${formData.name}.` %></div>
  <div><%= formData.comment %></div>
  <div><%= `We'll get back to you at ${formData.email}` %></div>
</section>

<% } else { %>
<form action="/contact" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" />
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" />
  <label for="comment">Comment:</label>
  <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
  <input type="submit" value="Submit" />
</form>
<% } %>