<h1>Students</h1>

<form class="searchProfiles" action="profiles">
  <input type="text" placeholder="Search.." name="searchProfiles">
  <button type="submit">Search<i class="searchProfilesBtn"></i></button>
</form>
<br>

<div>
<ul>
  <% for (let i = 0; i < students.length; i++ ) {%>
  <li>
    <a href="/profiles/<%= students[i].id %>"><%= students[i].firstName %></a> | 
    <a href="/profiles/<%= students[i].id %>/delete"><button>Delete</button></a>
  </li>
  <% } %>
</ul>
</div>

