<h1>Students</h1>

<form class="searchStudents" action="/year-book/">
  <input type="text" placeholder="Search by name" name="searchStudents">
  <button type="submit">Search<i class="searchStudentsBtn"></i></button>
</form>
<br>

<div>
<ul>
  <% for (let i = 0; i < students.length; i++ ) {%>
  <li>
    <a href="/year-book/<%= students[i].id %>"><%= students[i].firstName %> <%= students[i].lastName %></a> 
    <% if( reqInfo.roles.includes("Admin"))  { %>
    <a href="/year-book/delete/<%= students[i].id %>"><button>Delete</button></a>
    <% } %>
  </li>
  <% } %>
</ul>
</div>

